/*UNIVERSAL STYLING*/ 
* {
	box-sizing: border-box;
}
html {
	height:100%;
}
body {
	display: flex;
	flex-flow: row nowrap;
	background-image: url('repeat-image.jpg');
	font-family: Montserrat, sans-serif;
	margin: 0;
	height:100%;
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}


/*LANDING PAGE STYLING*/ 
#logo {
	height: 400px;
	width: 500px;
}

.landing-page-nav {
	color: #ffffff;
	font-size: 46px;
	font-weight: 200;
	flex: 0 0 50%;
	padding: 100px 0 0 100;
}

.landing-page-nav li {
	list-style-type: none;
	padding: 0 0 0 75px;
}

#laptop-image {
	flex: 0 0 50%;
}

#laptop-image img {
		width: 100%;
		height: auto;
		padding: 175px 50px 0 0;
}

.landing-page {
	display: flex;
	max-width: 1440px;
	margin: 100px auto;
}

@media only screen and (max-width: 1000px){
	.landing-page {
		max-width: 1000px;
		display: flex;
	 	flex-direction: column;
	}
	#laptop-image img {
			padding: 75px 0 0 0;
		}
}
	
@media only screen and (max-width: 576px){
	.landing-page {
		max-width: 576px;
		display: flex;
	 	flex-direction: column;
 }		
 	.landing-page-nav {
		padding: 50px;
 } 
	#laptop-image img {
			padding: 20px 0 0 0;
		}
}


/*ABOUT PAGE STYLING*/ 
.about {
	color: #ffffff;
	flex: 0 0 25%;
	height:100%;
}

.about-body {
	background-image: url('background-image.jpg');
}

#menu {
	background-color: #000000;
	padding: 250px 0 0 40px;
	flex: 0 0 40%;
 	flex-direction: column;
	height: 100%;
	font-size: 40px;
	font-weight: 200;
}

.main-content {
	color: #ffffff;
	padding: 75px;
	text-align: justify;
	height:100%;
}

#CV-button {
	background-color: rgba(255, 255, 255, 0.3);
	color: #ffffff;
	border-style: solid thin;
	border-color: #ffffff;
	font-size: 16px;
}

#about-image {
	width: 100%;
	height:auto;
	max-height:700px;
}

#menu li {
	list-style-type: none;
	padding: 0 0 0 35px;
}

#menu-title {
	text-align: center;
	font-size: 60px;
	font-weight: normal;
	color: #ffffff;
}

.page-heading {
	font-size: 44px;
}

.about-copy {
	font-size: 20px;
}


h3 {
	font-weight: 400;
	text-transform: uppercase;
}

.hamburger-menu {
	display: none;
}

@media only screen and (max-width: 1000px){
	.about-body {
		max-width: 768px;
	 	flex-direction: column;
		padding: 20px;
	}
	#menu {
		padding: 5px;
	}
	#menu li {
		display: none;
	}
	#menu-title {
		display: none;
	}
	.hamburger-menu {
		display: flex;
		text-align: flex-end;
		padding: 25px 0 0 5px;
	}
	.main-content {
		padding: 5px;
	}
	
}

/*CONTACT PAGE STYLING*/ 
.contact-form {
	width: 100%;
	height: auto;
}

#name {
	border: 2px solid #ffffff;
	font-size: 25px;
	width: 100%;
}

#email {
	border: 2px solid #ffffff;
	font-size: 25px;
	width: 100%;
}

#message {
	border: 2px solid #ffffff;
	height: 250px;
	width: 100%;
	font-size: 25px;
}

#submit {
	font-size: 25px;
}

#contact-image {
	width: 100%;
	height: auto;
}







































