/*UNIVERSAL STYLING*/ 
* {
	box-sizing: border-box;
}

body {
	display: flex;
	background-image: url('repeat-image.jpg');
	font-family: Montserrat;
	margin: 0;
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}


/*LANDING PAGE STYLING*/ 
#logo {
	height: 400px;
	width: 500px;
}

.landing-page-nav {
	color: #ffffff;
	font-size: 46px;
	font-weight: 200;
	flex: 0 0 50%;
	padding: 100px 0 0 0;
}

.landing-page-nav li {
	list-style-type: none;
	padding: 0 0 0 75px;
}

#laptop-image {
	flex: 0 0 50%;
}

#laptop-image img {
		width: 100%;
		height: auto;
		padding: 150px 0 0 0;
}

.landing-page {
	display: flex;
	max-width: 1440px;
	margin: 100px auto;
}

@media only screen and (max-width: 768px){
	.landing-page {
		max-width: 768px;
		display: flex;
	 	flex-direction: column;
	}
}
	
@media only screen and (max-width: 576px){
	.landing-page {
		max-width: 576px;
		display: flex;
	 	flex-direction: column;
 } 
}


/*ABOUT PAGE STYLING*/ 
aside {
	color: #ffffff;
	width: 33%;
}

.about-body {
	background-image: url('background-image.jpg');
}

#menu {
	background-color: #000000;
	padding: 250px 0 0 40px;
	flex: 0 0 40%;
 	flex-direction: column;
	height: 100%;
	font-size: 40px;
	font-weight: 200;
}

.main-content {
	color: #ffffff;
	flex: 0 0 60%;
	flex-direction: column;
	padding: 75px;
	text-align: justify;
}

#CV-button {
	background-color: rgba(255, 255, 255, 0.3);
	color: #ffffff;
	border-style: solid thin;
	border-color: #ffffff;
	font-size: 16px;
}

#about-image {
	width: 100%;
	height: auto;
}

#menu li {
	list-style-type: none;
	padding: 0 0 0 35px;
}

#menu-title {
	text-align: center;
	font-size: 60px;
	font-weight: normal;
}

.page-heading {
	font-size: 44px;
}

.about-copy {
	font-size: 20px;
}


h3 {
	font-weight: 400;
	text-transform: uppercase;
}

.hamburger-menu {
	display: none;
}

@media only screen and (max-width: 1000px){
	.about-body {
		max-width: 768px;
		display: flex;
	 	flex-direction: column;
		padding: 20px;
	}
	#menu {
		padding: 5px;
	}
	#menu li {
		display: none;
	}
	#menu-title {
		display: none;
	}
	.hamburger-menu {
		display: flex;
		padding: 50px 0 0 75px;
	}
	
}













